{% extends "base.html" %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock%}


{% block content %}

<head>
    <style>

        .refresh-link {
            display: inline-block;
            color: var(--primary-color);
            cursor: pointer;
        }

        .top {
            margin-top: 5vh;
            margin-bottom: 3vh;
        }

        .bottom {
            margin-bottom: 10vh;
        }

</style>
</head>
<body>

<div class="container-fluid mt-4">

    <a class = 'refresh-link top' id = 'refresh-btn'>Get new recipes</a>

    <div class="row" id="recipe-container"></div>

    <a class="refresh-link bottom" id = 'refresh-btn'>Get new recipes</button>


</div>
</body>

{% include 'recipe_functions.html' %}
<script>
    var page = 1; // Initial page number
    const max_page = 10; //keep up to date with routes
    var loading = false; // Flag to prevent multiple requests

    function loadMoreRecipes() {
        if (!loading && page <= max_page) {
            loading = true;
            

            $.ajax({
                url: '/api/load-more-recipes/' + page,
                type: "GET",
                success: function (data) {
                    if (data.trim() !== "") {
                        $("#recipe-container").append(data);
                        loading = false;
                        page += 1;
                    }
                },
                error: function () {
                    loading = false;
                }
            });
        }
    }

    //todo yeah you really only need to do this once and then can increment
    //but i'm doing it this way sue me.

    

    $(document).on('click', '#refresh-btn', function() {
        $.ajax({
            url: '/api/refresh-explore',
            type: 'GET',
            success: function (data) {
                // Redirect to the explore page
                window.location.href = '/explore';
            },
            error: function () {
                // Handle error if needed
            }
        });
    });

    

    

    $(document).ready(function () {
        
        // Initial load
        loadMoreRecipes();

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200) {
                loadMoreRecipes();
            }
        })
        ;
    });

    //commenting for now because i'm just going to do a separate page for recipe list, but in future modal would be cool
    //var recipeListModal;
//
    //document.addEventListener('DOMContentLoaded', function () {
    //    // Initialize the modal when the document is ready
    //    recipeListModal = new bootstrap.Modal(document.getElementById('recipeListModal'));
//
    //    // Attach the click event to the modal link
    //    document.getElementById('recipe-list-link').addEventListener('click', function () {
    //        // Show the modal
    //        recipeListModal.show();
    //    });
//
    //    // Attach the click event to the close button
    //    document.getElementById('closeRecipeListModal').addEventListener('click', function () {
    //        console.log('clicked close');
    //        // Hide the modal
    //        recipeListModal.hide();
    //    });
    //});

</script>
{% endblock %}
