{% extends "base.html" %}

{% block content %}
<head>
    <style>

        

        .refresh-link {
            display: flex;
            justify-content: flex-end; /* Align to the right side of the container */
            color: var(--primary-color);
            cursor: pointer;
        }

        .top {
            margin-top: 5vh;
            margin-bottom: 5vh;
        }

        .bottom {
            margin-bottom: 10vh;
        }

</style>
</head>
<body>
<div class="container-fluid mt-4">

    <a class = 'refresh-link top' id = 'refresh-btn'>Get new recipes</a>

    <div class="row" id="recipe-container"></div>

    <a class="refresh-link bottom" id = 'refresh-btn'>Get new recipes</button>


</div>
</body>
<script>
    var page = 1; // Initial page number
    const max_page = 10; //keep up to date with routes
    var loading = false; // Flag to prevent multiple requests

    function loadMoreRecipes() {
        if (!loading && page <= max_page) {
            loading = true;
            

            $.ajax({
                url: '/load-more-recipes/' + page,
                type: "GET",
                success: function (data) {
                    if (data.trim() !== "") {
                        $("#recipe-container").append(data);
                        loading = false;
                        page += 1;
                    }
                },
                error: function () {
                    loading = false;
                }
            });
        }
    }

    $(document).on('click', '.save-btn', function() {
        var recipeId = $(this).data('recipe-id');
        toggleRecipeInList(recipeId);
    });

    $(document).on('click', '#refresh-btn', function() {
        $.ajax({
            url: '/refresh-explore',
            type: 'GET',
            success: function (data) {
                // Redirect to the explore page
                window.location.href = '/explore';
            },
            error: function () {
                // Handle error if needed
            }
        });
    });

    function toggleRecipeInList(recipeId) {

        // Send the recipe ID to the server to toggle its state
        $.ajax({
            url: '/toggle-recipe-in-list/' + recipeId,
            type: "GET",
            success: function (data) {
                
                updateButtonState(recipeId);
                
                // You may want to provide feedback to the user if needed
            },
            error: function () {
                console.error('Failed to toggle recipe in list');
                // Handle error if needed
            }
        });
    }

    function updateButtonState(recipeId, inList) {
        var button = $('.save-btn[data-recipe-id="' + recipeId + '"]');
        button.toggleClass('btn-secondary btn-danger').text(function(i, text) {
            console.log(text)
            return text.trim() === 'Save to List' ? 'Remove from List' : 'Save to List';
        });
    }

    

    $(document).ready(function () {
        
        // Initial load
        loadMoreRecipes();

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200) {
                loadMoreRecipes();
            }
        })
        ;
    });
</script>
{% endblock %}
