{% extends "base.html" %}

{% block content %}
<head>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<style>
    .card {
        height: 100%; /* Set a fixed height for the card */
    }

    .card-body {
        height: 100%; /* Set a fixed height for the card body */
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        object-fit: cover; /* Ensure the image covers the entire card */
        height: 50%; /* Set the image height (adjust as needed) */
    }
</style>
</head>
<body>
<div class="container mt-4">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" id="explore-tab" data-toggle="tab" href="#explore">Explore</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="recipe-list-tab" data-toggle="tab" href="#recipe-list">Recipe List</a>
        </li>
    </ul>

    <div class="tab-content mt-2">
    <div class="tab-pane fade show active" id="explore">
        <h2>Explore Recipes</h2>
        <div class="row" id="recipe-container">
        </div>
    </div>

    </div>

        <div class="tab-pane fade" id="recipe-list">
            # selected recipes go here
        </div>
    </div>
</div>
</body>
<script>
    var page = 1; // Initial page number
    var loading = false; // Flag to prevent multiple requests

    function loadMoreRecipes() {
        if (!loading) {
            loading = true;
            

            $.ajax({
                url: '/load-more-recipes/' + page,
                type: "GET",
                success: function (data) {
                    if (data.trim() !== "") {
                        $("#recipe-container").append(data);
                        loading = false;
                        page += 1;
                    }
                },
                error: function () {
                    loading = false;
                }
            });
        }
    }


    $(document).ready(function () {
        
        // Initial load
        loadMoreRecipes();

        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() >= $(document).height() - 200) {
                loadMoreRecipes();
            }
        })

        ;
    });
</script>
<!-- Bootstrap JS, Popper.js, and jQuery -->
{% endblock %}
