<style>
    .overflow-hidden {
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .modal-dialog {
        max-width: 80%;
    }
</style>

{% for recipe in recipes %}
<div class="col-md-4 mb-4">
    <div class="card flex-grow-1 d-flex">
        {% if recipe.image_url %}
            <img src="{{ recipe.image_url }}" class="card-img-top" alt="{{ recipe.title }}">
        {% endif %}
        <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text overflow-hidden">{{ recipe.description }}</p>
            <!--<a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="btn btn-primary">-->
            
                <button type="button" class="btn {% if recipe.in_list %}btn-danger{% else %}btn-success{% endif %} save-btn mb-2 mt-auto" data-recipe-id="{{ recipe.id }}">
                    {% if recipe.in_list %}
                        Remove from List
                    {% else %}
                        Save to List
                    {% endif %}
                </button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#recipeModal{{ recipe.id }}">
                View Recipe
            </button>
        </div>
    </div>
</div>

<!-- Recipe Modal -->



<div class="modal fade" id="recipeModal{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="recipeModalLabel{{ recipe.id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="recipeModalLabel{{ recipe.id }}">{{ recipe.title }}</h2>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="{{ recipe.image_url }}" class="img-fluid" alt="{{ recipe.title }}">
                            <h4>Ingredients:</h4>
                            <ul>

                                {% for ingredient in recipe.ingredient_list %}
                                    <li>{{ ingredient }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-8">
                            <p>{{ recipe.description }}</p>
                            <h4>Instructions:</h4>
                            <ul>
                                {% for instruction in recipe.instruction_list %}
                                    <li>{{ instruction }}</li>
                                {% endfor %}
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>




{% endfor %}
